.header {
    background-color: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size;
    color: white;

    
}
//BEM - Blocl Elemtnt Modified
.header_title {
    font-size: $l-size;
    margin :0;
}

.header_subtitle {
    color: $off-white;
    font-size: $m-size;
    margin: 0;
    font-weight: 500;
}